<a href="https://colab.research.google.com/github/BhekiMabheka/Data_Driven_Competions/blob/master/Predicting_Earthquake_Damage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview

Based on aspects of building location and construction, the goal is to predict the level of damage to buildings caused by the 2015 Gorkha earthquake in Nepal.





The data was collected through surveys by [Kathmandu Living Labs](https://http://www.kathmandulivinglabs.org/) and the [Central Bureau of Statistics](https://**https**://cbs.gov.np/), which works under the National Planning Commission Secretariat of Nepal. This survey is **one of the largest post-disaster datasets ever collected**, containing valuable information on earthquake impacts, household conditions, and socio-economic-demographic statistics.

---

We're trying to predict the [ordinal variable](https://https://web.ma.utexas.edu/users/mks/statmistakes/ordinal.html) `damage_grade`, which represents a level of damage to the building that was hit by the earthquake. There are 3 grades of the damage:

- 1 represents low damage
- 2 represents a medium amount of damage
- 3 represents almost complete destruction

In [0]:
# Data Wrangling/Visualization Packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings(action = "ignore")

# Machine Learning Packages from scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.externals import joblib

#### Load the data

In [23]:
# Predictors(Independent  Variables)
train_values_df = pd.read_csv("https://raw.githubusercontent.com/BhekiMabheka/Data/master/earthquake_train_values.csv")
print("NUM OF OBSERVATIONS: ",train_values_df.shape[0])
print("NUM OF FEATURES    : ",train_values_df.shape[1])
train_values_df.head(3)

NUM OF OBSERVATIONS:  260601
NUM OF FEATURES    :  39

   building_id  ...  has_secondary_use_other
0       802906  ...                        0
1        28830  ...                        0
2        94947  ...                        0

[3 rows x 39 columns]

In [22]:
train_labels = pd.read_csv("https://raw.githubusercontent.com/BhekiMabheka/Data/master/earthquake_train_labels.csv")
print("NUM OF OBSERVATIONS: ",train_labels.shape[0])
print("NUM OF FEATURES    : ",train_labels.shape[1])
train_labels.head(3)

NUM OF OBSERVATIONS:  260601
NUM OF FEATURES    :  2

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3

We now use the `building_id` to merge the two abouve dataframes.

In [24]:
train_df = pd.merge(left = train_values_df, left_on = ["building_id"], right = train_labels, right_on = ["building_id"])
train_df.head(3)

   building_id  geo_level_1_id  ...  has_secondary_use_other  damage_grade
0       802906               6  ...                        0             3
1        28830               8  ...                        0             2
2        94947              21  ...                        0             3

[3 rows x 40 columns]